*{
    background-color: darkgreen;
    color: aliceblue;
}

li {
    /* width: 700px; */
    padding: 7px;
}
button {
    background-color: rgb(134, 61, 8);
    border: solid 2px black; 
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
    
}

button:hover{
    background-color: rgb(9, 49, 36);
}
/*criar volunas lado a lado*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}